body{
    background-size: 130%;
    background-repeat: repeat-y;
    background-position-y: 0%;
}
header a:hover {
    color: aqua;
    transition: 1.2s;
}
.head3 {
    position: absolute;
    font-family: 'Andika';
    font-size: 35px;
    font-weight: bolder;
    top: 12%;
    left: 35%;
}
.profile {
    font-family: 'Andika';
    font-weight: bolder;
    font-size: 21px;
}
p:hover {
    background-color: white;
    border-radius: 5px;
}
.zain {
    position: absolute;
    width: 18%;
    top: 32%;
}
.ahmed {
    position: absolute;
    width: 18%;
    top: 73%;
    left: 82%;
}
.shahraiz {
    position: absolute;
    width: 15%;
    top: 120%;
    left: 2%;
}
.waqar {
    position: absolute;
    width: 18%;
    top: 145%;
    left: 82%;
}
.h1 {
    position: absolute;
    top: 30%;
    left: 20%;
}
.p1 {
    position: absolute;
    top: 38%;
    left: 20%;
    width: 30%;
}
.h2 {
    position: absolute;
    top: 65%;
    left: 55%;
}
.p2 {
    position: absolute;
    top: 75%;
    left: 55%;
    width: 30%;
}
.h3 {
    position: absolute;
    top: 110%;
    left: 20%;
}
.p3 {
    position: absolute;
    top: 118%;
    left: 20%;
    width: 30%;
}
.h4 {
    position: absolute;
    top: 150%;
    left: 57%;
}
.p4 {
    position: absolute;
    top: 158%;
    left: 57%;
    width: 30%;
}