div .back{
    position: absolute;
    opacity: 80%;
    width: 400px;
    height: auto;
    padding-top: 70px;
    padding-left: 15px;
}
div .pro {
    position: absolute;
    width: 350px;
    height: 500px;
    padding-top: 20px;
}
.blof .p1{
    position: absolute;
    width: 200px;
    height: 200px;
    padding-top: 80px;
    padding-left: 500px;
}
.blof .p2{
    position: absolute;
    width: 200px;
    height: 200px;
    padding-top: 80px;
    padding-left: 750px;
}
.blof .p3{
    position: absolute;
    width: 200px;
    height: 200px;
    padding-top: 80px;
    padding-left: 1000px;
}
.blof .p4{
    position: absolute;
    width: 200px;
    height: 200px;
    padding-top: 300px;
    padding-left: 500px;
}
.blof .p5{
    position: absolute;
    width: 200px;
    height: 200px;
    padding-top: 300px;
    padding-left: 750px;
}
.blof .p6{
    position: absolute;
    width: 200px;
    height: 200px;
    padding-top: 300px;
    padding-left: 1000px;
}  