@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&family=Coiny&display=swap');

body {
    background-color: #185c6b;
    background-image: url(background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 15%;
}

header {
    position: absolute;
    font-family: 'Coiny';
    font-size: 14px;
    top: 3px;
    left: 15px;
}
header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.navbar {
    position: absolute;
    top: 9px;
    left: 60%;
}
.navbar ul{
    list-style: none;
}

.navbar li{
    color: rgb(0, 0, 0);
    font-family: 'Andika';
    font-weight: bolder;
    display: inline-block;
    font-size: 16px;
}
.navbar a{
    padding-left: 30px;
}  
.navbar li:hover{
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
}
button {
    position: absolute;
    top: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    width: 44%;
    height: 50%;
    left: 107%;
    font-family: 'Andika';
    font-weight: bold;
    color: white;
    background-color: rgb(14, 12, 12);
}
button .contact{
    padding: 0px;
}
button:hover {
    transform: scale(1.1);
    color: rgb(32, 32, 32);
    background-color: aquamarine;
}
.head1 {
    position: absolute;
    font-family: 'Andika';
    font-size: 35px;
    font-weight: 900;
    top: 15%;
    left: 25%;
    animation-name: headd;
    animation-duration: 7s;
    border: none;
    border-radius: 12px;
}
@keyframes headd {
    from {color: rgb(4, 64, 99);}
    to {background-color: rgb(255, 255, 255);}
}
.himage {
    position: absolute;
    width: 45%;
    left: 25%;
    top: 28%;
    image-rendering:optimizeQuality;
}
@media screen and (max-width: 600px) {
    body {
        background-size: 400%;
        background-repeat: no-repeat;
        background-position-x: 40.5%;
    }
    header {
        font-size: 13px;
        left: 20%;
        top: 0%;
    }
    .navbar {
        top: 10%;
        left: 0%;
    }
    .navbar li{
        font-size: 16px;
    }
    .navbar a{
        padding-left: 12px;
    } 
    .head1 {
        border-radius: 10px;
        font-size: 26px;
        top: 26%;
        text-align: center;
        left: auto;
    }
    button {
        top: 10px;
        border-radius: 9px;
        font-size: 15px;
        width: 40%;
        height: 50%;
        right: 10%;
        left: 110%;
    }
}