body {
    background: linear-gradient(280deg, #51C6D6 0.52%, #66ECD7 100%);
}
header {
    display: inline-flex;
}
.nav {
    padding: 0px;
    padding-top: 20px;
    list-style: none;
}
.nav li{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    padding-right: 26px;
}
h1 a{
    color: #392D2D;
    list-style: none;
}
.nav a{
    color: #392D2D;
}
.nav a:hover{
    color: #7CFBFB;
}
h1 {
    color: hsl(187, 10%, 16%);
    font-size: 40px;
    padding-right: 800px;
    padding-left: 50px;
}

.page img{
    width: 200px;
    height: 400px;
    padding-left: 600px;
}
.page {
    padding-top: 65px;
    display: flex;
}
.page h2{
    font-size: 45px;
    color: #252323;
    padding-left: 50px;
    padding-top: 50px;
}
.page p{
    color: #252323;
    font-size: 29px;
    font-weight: bold;
    position: absolute;
    padding-top: 120px;
    padding-left: 50px;
}
.page .pa{
    color: white;
    position: absolute;
    padding-left: 710px;
    font-size: 50px;
    padding-top: 160px;
}

@media screen and (max-width: 600px) {
    body {
        background: linear-gradient(10deg,  #51C6D6 50%, #66ECD7 100%);
    }    
    .nav {
        padding: 10px;
        padding-top: 10px;
        list-style: none;
    }
    .nav li{
        display: inline-block;
        font-weight: bold;
        font-size: 30px;
        padding: 10px;
        padding-left: 2px;
    }
    h1 {
        color: hsl(187, 10%, 16%);
        font-size: 50px;
        padding-right: 500px;
        padding-left: 25px;
    }
    
    .page img{
        padding-top: 50px;
        width: 250px;
        height: 400px;
        padding-left: 550px;
    }
    .page {
        padding: 0px;
        padding-top: 5px;
    }
    .page h2{
        position: absolute;
        font-size: 60px;
        color: #252323;
        padding-left: 20px;
        padding-top: 100px;
    }
    .page p{
        color: #252323;
        font-size: 23px;
        font-weight: bold;
        position: absolute;
        padding-top: 200px;
        padding-left: 20px;
    }
       
}