body {
    background-image: url('bgg.png');
    background-size: 99%;
    background-repeat: no-repeat;
    background-color: #FECD7D;
} 

#navbarNav,
.navbar-brand {
    background-color: #c2bdbd;
}

nav a {
    color: rgb(49, 48, 48);
    text-decoration: none;
    padding: 1.2em;
}
  
nav a:hover {
    color: rgb(2, 2, 2);
    background-color: rgb(255, 215, 147);

}
@keyframes slideIn {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

#hero {
    color: rgb(43, 42, 42);
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
    animation: fade 2s ease-in-out;
}
@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
header {
    background-color: #eee;
    padding: 1em;
}

h1,h2,h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
  
h1 {
    font-size: 2.5em;
    font-weight: 800;
}
  
h2 {
    font-size: 2em;
    font-weight: 600;
}
  
p {
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5;
}
#project h1{
    color: #2b2424;
    padding-top: 18%;
    padding-bottom: 5%;
    text-align: center;
} 
#project {
    background-size: contain;
    background-position-y: -13.6%;
}
#project img {
    width: 100%;
    padding: 3em;
    box-shadow: 2px 2px 5px rgb(91, 79, 79);
    transition: transform 0.2s ease-in-out;
    animation: slideIn 0.5s ease-in-out;
}  
#portfolio img:hover {
    transform: scale(1.1);
}
    
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0%;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}
  
.grid-item {
    background-color: #f1d7d7;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
#about {
    background-image: url(bg.png);
    color: rgb(249, 249, 249);
    padding-top: 2%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: center;
    background-size: cover;
}
#about h1{
    padding-top: 1%;
    padding-bottom: 0%;
    padding-left: 3.4%;
}  
#about p{
    color: rgb(244, 244, 244);
    font-weight: bolder;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    width: 80%;
    text-align: center;
}
.grid-item1 p{
    font-size: 1.3em;
    font-weight: bolder;
    padding: 0%;
}

.grid-item:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(62, 56, 56);
}
.grid1 {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-template-rows: repeat(4, 3fr);
    grid-gap: 1em;
}
.grid1 p{
    text-align: center;
}
.grid-item1 img {
    width: 80%;
    border-radius: 50%;
    border: 2px solid rgb(73, 62, 62);
    object-fit: cover;
    filter: brightness(80%) contrast(120%) saturate(150%);
}
 
#contact {
    padding-top: 3%;
    padding-right: 40%;
}
#contact h1 {
    padding-left: 3.4%;
}
#contact .c1 {
    text-align: left;
    padding-left: 2%;
    width: 140%;
    text-align: center;
}
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 6%;
    background-color: #ebebeb;
}

form label {
    font-size: 1.3em;
    color: rgb(47, 32, 20);
    font-weight: bolder;
  }
  
  form input,
  form textarea {
    font-size: 1.2em;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  form button {
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  form button:hover {
    background-color: rgb(235, 16, 16);
    color: #333;
}
.formtext {
    position: absolute;
    left: 60%;
    padding-top: 5%;
    font-size: 23px;
    font-weight: bolder;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}
footer h3 {
    font-size: 28px;
    color: white;
    padding-top: 2%;
}     
.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 20%;
    margin-bottom: 4%;
    margin-top: 2%;
}
  
.fa:hover {
      opacity: 0.7;
}
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
.fa-instagram {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #c13584, #E1306C, #FD1D1D); 
    color: white;
}
.fa:hover {
    background: white;
    color: #333;
}

.fa-github {
    background: rgb(14, 13, 13);
    color: white;
}      